.home__main-section {
	color: #fff;
	background: rgb(47, 101, 72);
	background: linear-gradient(
		295deg,
		rgba(47, 101, 72, 1) 14%,
		rgba(67, 181, 107, 1) 42%,
		rgba(64, 133, 119, 1) 57%,
		rgba(29, 6, 24, 1) 90%
	);
	padding: 208px 0;
	height: 100vh;
}

.home__main-row {
	align-items: center;
}

.row {
	display: flex;
	margin-right: -15px;
	margin-bottom: -15px;
	margin-left: -15px;
	flex-wrap: wrap;
	align-content: stretch;
}

.col {
	margin-bottom: 15px;
	padding-right: 15px;
	padding-left: 15px;
	flex: 1;
	max-width: 50%;
	flex-basis: 50%;
}

.home__main-text-wrapper {
	max-width: 540px;
	padding-top: 0;
	padding-bottom: 60px;
}

.top-line {
	color: black;
	font-size: 16px;
	line-height: 16px;
	font-weight: 100;
	letter-spacing: 1.4px;
	text-transform: uppercase;
	margin-bottom: 16px;
}

.heading {
	margin-bottom: 24px;
	font-size: 50px;
	line-height: 1.1;
	font-weight: 600;
	color: #f7f8fa;
}

.dark {
	color: white;
}

.darkBg {
	background: rgb(47, 101, 72);
	background: linear-gradient(
		130deg,
		rgba(47, 101, 72, 1) 11%,
		rgba(67, 181, 107, 1) 49%,
		rgba(63, 245, 209, 1) 65%,
		rgba(29, 6, 24, 1) 86%
	);
}

.home__main-subtitle {
	max-width: 440px;
	margin-bottom: 35px;
	font-weight: 100px;
	font-size: 18px;
	line-height: 24px;
	letter-spacing: 1.4px;
}

.home__main-img-wrapper {
	max-width: 555px;
}

.home__main-img {
	max-width: 95%;
	margin-top: 0;
	margin-right: 0;
	margin-left: 10px;
	padding-right: 0;
}

img {
	border: 0;
	max-width: 100%;
	vertical-align: middle;
	display: inline-block;
}

@media screen and (max-width: 991px) {
	.container {
		padding-right: 30px;
		padding-left: 30px;
	}
}

@media screen and (max-width: 768px) {
	.home__main-text-wrapper {
		padding-bottom: 65px;
	}

	.col {
		max-width: 100%;
		flex-basis: 100%;
	}
}
